.map {
    position: fixed;
    left: 0;
    top: 0;
    @media only screen and (max-width: 750px) {
        position: absolute;
        
      }
}

iframe {
    width: 40vw;
    height: 100vh;
    @media only screen and (max-width: 750px) {
        width: 100vw;
        height: 50vh;
      }

}

